<table class="table table-striped table-hover">
  <thead>
      <tr>
          <th class="col-4 col-xxl-5">{{ 'apps.server.hostname' | i18n }}</th>
          <th class="col-1">{{ 'apps.server.status' | i18n }}</th>
          <th class="col-2">{{ 'apps.server.os' | i18n }}</th>
          <th class="col-2">{{ 'apps.server.environment' | i18n }}</th>
          <th class="col-3 col-xxl-2">{{ 'apps.server.actions' | i18n }}</th>
      </tr>
  </thead>
  <tbody class="table-group-divider">
      {% for srv in servers %}
      <tr>
          <td>{{ srv.name }}</td>
          <td>{{ srv.status }}</td>
          <td>{{ ('apps.os.' + srv.os.family) | i18n }} {{ srv.os.version }}</td>
          <td>{{ srv.environment }}</td>
          <td>
            <button class="btn btn-success"><i class="bi-play-circle-fill"></i><span class="ms-2">Start</span></button>
            <button class="btn btn-warning"><i class="bi-arrow-clockwise"></i><span class="ms-2">Restart</span></button>
            <button class="btn btn-danger"><i class="bi-stop-circle-fill"></i><span class="ms-2">Stop</span></button>
          </td>
      </tr>
      {% else %}
      <tr>
          <td colspan="5">No servers linked to application {{ app.code }}</td>
      </tr>
      {% endfor %}
  </tbody>
</table>
