<div class="row d-flex px-2 pt-3 mb-3 bg-body-tertiary" id="content-header">
  <h2 class="bi-puzzle"><span class="ms-2">{{ 'global.components' | i18n }}</span></h2>
</div>
<div id="content-actions" class="d-flex justify-content-end">
    <button class="btn btn-primary" hx-get="/ui/partial/component/new" hx-target="#newComponentModal" data-bs-toggle="modal" data-bs-target="#newComponentModal" hx-trigger="click">
        <i class="bi-plus-circle-fill"></i>
        <span class="ms-2">{{ 'components.action.new' | i18n }}</span>
    </button>
</div>
<div id="content-body" hx-get="/ui/partial/components" hx-trigger="load"></div>
<div id="newComponentModal"
    class="modal modal-blur fade"
    style="display: none"
    aria-hidden="false"
    tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content"></div>
    </div>
</div>
