<div class="col-auto col-md-3 col-xl-2 px-0">
  <div class="d-flex flex-column align-items-sm-start px-4 pt-4 text-white min-vh-100 bg-dark">
    <a class="navbar-brand" href="/ui"><h1 class="bi-book"><span class="ms-3">{{ 'global.appname' | i18n }}</span></h1></a>
    <ul class="nav nav-pills flex-column mb-sm-auto mb-0" id="menu">
        <li class="nav-item fs-5">
            <a href="/ui/apps" class="nav-link align-middle px-0">
                <i class="fs-4 bi-app-indicator"></i> <span class="ms-1 d-none d-sm-inline">{{ 'global.applications' | i18n }}</span>
            </a>
        </li>
        <li class="nav-item fs-5">
            <a href="/ui/components" class="nav-link align-middle px-0">
                <i class="fs-4 bi-puzzle"></i> <span class="ms-1 d-none d-sm-inline">{{ 'global.components' | i18n }}</span>
            </a>
        </li>
    </ul>
    <div class="pb-3 px-2 align-self-end fs-5">
      <a href="https://github.com/leogatellier/appatlas" target="_blank" class="link-light link-underline-opacity-0 link-underline-opacity-100-hover">
        <i class="bi-git"></i>
        <span class="ms-1">
          v0.0.1
        </span>
      </a>
    </div>
  </div>
</div>
