<div class="cardboard d-flex justify-content-between">
  <div class="card mx-2 flex-fill">
    <div class="card-body">
      <h5 class="card-title">{{ 'global.metadata' | i18n }}</h5>
      <p class="card-text">{{ component.description }}</p>
      <dl class="row col-6">
        <dt class="col-6">{{ 'global.application' | i18n }}</dt>
        <dd class="col-6">
          <a href="/ui/app/{{ component.application.code }}">
            {{ component.application.name }} - {{ component.application.code }}
          </a>
        </dd>
        <dt class="col-6">{{ 'global.owner' | i18n }}</dt>
        <dd class="col-6">TODO : Someone</dd>
        <dt class="col-6">{{ 'apps.technology.label' | i18n }}</dt>
        <dd class="col-6">TODO some tech stack</dd>
      </dl>
    </div>
    <div class="card-footer">
      <span class="card-link">
        <i class="bi-tag"></i><span class="ms-2">

        {% if component.tags %}
          {{ component.tags | join(', ') }}
        {% else %}
          {{ 'global.no_tags' | i18n }}
        {% endif %}
        </span>
      </span>
    </div>
  </div>
</div>
