<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Code</th>
            <th>Name</th>
            <th>Type</th>
            <th>Technology</th>
            {% if show_application %}
            <th>Application</th>
            {% endif %}
        </tr>
    </thead>
    <tbody class="table-group-divider" style="cursor: pointer;">
        {% for component in components %}
        <tr hx-get="/ui/content/component/{{component.id}}" hx-target="#content-wrapper" hx-push-url="/ui/component/{{ component.id }}" role="link">
            <td>{{ component.code }}</td>
            <td>{{ component.name }}</td>
            <td>{{ ('components.type.values.' + component.type.value) | i18n }}</td>
            <td>{{ component.tech_stack.name }}</td>
            {% if show_application %}
            <td>{{ component.application.name }} - {{ component.application.code }}</td>
            {% endif %}
        </tr>
        {% else %}
        <tr>
            <td colspan="3">{{ 'global.no_result'| i18n }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
